@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
  <h1 class="display-3">Welcome to updownftw_'s page
  </h1>
  <p class="lead">This is created using .Net MVC </p>
  <hr class="my-4">
  <p>This is a Jumbotron. </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>