
<br />
<br />

<div class="container card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Contact </div>
  <div class="card-body">
    <h4 class="card-title">Mobile : 9619318609</h4>
    <p class="card-text">Contact us for more details.</p>
  </div>
</div>