<div class="jumbotron">
  <h1 class="display-3">Welcome to ShopKar</h1>
  <p class="lead">This is a simple .Net MVC Web app designed by updownftw_.</p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>


<di class="col-sm-6">

    <img src="Content/images/main.jpg" height="300px" width="340px"/>
</div>