@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using(Html.BeginForm("Index","Image",FormMethod.Post ,new {enctype="multipart/form-data"}))
{
    <div>
   <input type="file" name="fnm" />

         <input type="submit" value="Upload"/>     
            
        </div>
}
